<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'tienda/CSS/Estilo.css' %}">

    <style>
        .FondoCuenta {
            background-size: 100% 100%;
            background-image: url("{% static 'tienda/IMG/fondoct.png' %}");
        }

        @media only screen and (max-width: 1300px) {
            .FondoCuenta {
                background-image: url("{% static 'tienda/IMG/fondoIS.jpg' %}");
            }
        }
    </style>
</head>

<body class="FondoCuenta">
    <div class="container">
        <div class="centrado">
            <div class="row mb-5">
                <div class="col-xl-12 row mb-4">
                    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
                        <a href="{% url 'tienda' %}" class="navbar-brand mt-3">
                            <h3>G<span>Z</span></h3>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#onenavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="onenavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item mt-3"><a href="{% url 'tienda' %}" class="nav-link">Tienda</a></li>
                                {% if user.is_staff %}
                                <li class="nav-item mt-3"><a href="{% url 'Administracion' %}"
                                        class="nav-link">Administración</a></li>
                                {% endif %}

                                {% if not user.is_authenticated %}
                                <li class="nav-item dropdown mt-3">
                                    <a href="#" class="nav-link dropdown-toggle"
                                        data-toggle="dropdown">Loguear/Registrarse</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'inicio_sesion' %}" class="dropdown-item">Iniciar Sesión</a>
                                        <a href="{% url 'registro' %}" class="dropdown-item">Registrarse</a>
                                    </div>
                                </li>
                                {% endif %}

                                {% if user.is_authenticated %}
                                <li class="nav-item dropdown mt-3">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cuenta</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'Cuenta' %}" class="dropdown-item">Mi Perfil</a>
                                        <a href="{% url 'Colaboracion' %}" class="dropdown-item">Colaboración</a>
                                        <a href="{% url 'cerrar_sesion' %}" class="dropdown-item">Cerrar Sesión</a>
                                    </div>
                                </li>
                                {% endif %}
                                <li class="nav-item mt-3"><a href="{% url 'Nosotros' %}" class="nav-link">Nosotros</a>
                                </li>
                                <li class="nav-item"><a href="{% url 'seccion_playstation' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/iconoplei.png' %}"
                                            alt="plei"></a></li>
                                <li class="nav-item"><a href="{% url 'seccion_Xbox' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/iconoxbos.png' %}"
                                            alt="XBOS"></a></li>
                                <li class="nav-item"><a href="{% url 'seccion_nintendo' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/NS_logo.png' %}"
                                            alt="nintendo"></a>
                                </li>
                                <li class="nav-item"><a href="{% url 'Seccion_Pc' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/steam-logo.png' %}"
                                            alt="Steam"></a>
                                </li>
                                <li class="nav-item mt-2"><a href="{% url 'Carrito' %}"><img class="imgiconav"
                                            src="{% static 'tienda/IMG/IconosIMG/icon_carrito.png' %}" alt="carro"></a>
                                </li>
                            </ul>
                            <form class="form-inline ml-auto mt-3" action="{% url 'buscar_producto' %}">
                                <input type="text" class="form-control" name="query" placeholder="Buscar">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h2 class="Titulo">Game <span>Zone</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="STitulo">Mi Cuenta</h3>
                </div>
            </div>
            <div class="colorF p-5">
            <div class="row">
                {% if datos.imagenu.url %}
                <div class="col-md-6"><img class="imgpj colorP mb-4" src="{{ datos.imagenu.url }}"> <span class="colorP letra ml-2">{{ usuario.username }}</span></div>
                {% else %}
                <div class="col-md-6"><img src="{% static 'tienda/IMG/predeterminado.png' %}"> <span class="colorP letra ml-2">{{ usuario.username }}</span></div>
                {% endif %}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <label for="emailu">Email: </label>
                            <br>
                            <span class="letra">{{ usuario.email }}</span>
                        </div>
                        <div class="col-md-6 mt-5">
                            {% if datos.nombreu %}
                            <label for="nombreu">Nombre: </label>
                            <br>
                            <span class="letra">{{ datos.nombreu }}</span>
                            {% else %}
                            <span class="letra"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 mt-2"><a type="button" class="btn btn-dark perfilb" href="{% url 'editarPerfil' datos.id_usuariou %}">Modificar Cuenta</a>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>