<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'tienda/CSS/Estilo.css' %}">
    <style>
        .tiendaFondo {
            background-size: 100% 100%;
            background-image: url("{% static 'tienda/IMG/fondoct.png' %}");
        }

        @media only screen and (max-width: 1300px) {
            .tiendaFondo {
                background-image: url("{% static 'tienda/IMG/FondoCel.jpg' %}");
            }
        }
    </style>
</head>

<body class="tiendaFondo">
    <div class="container">
        <div class="centrado">
            <div class="row mb-5">
                <div class="col-xl-12 row mb-4">
                    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
                        <a href="{% url 'tienda' %}" class="navbar-brand mt-3">
                            <h3>G<span>Z</span></h3>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#onenavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="onenavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item mt-3"><a href="{% url 'tienda' %}" class="nav-link">Tienda</a></li>
                                <li class="nav-item dropdown mt-3">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cuenta</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'Cuenta' %}" class="dropdown-item">Mi Perfil</a>
                                        <a href="{% url 'Colaboracion' %}" class="dropdown-item">Colaboración</a>
                                        <a href="{% url 'Administracion' %}" class="dropdown-item">Administración</a>
                                        <a href="{% url 'inicio_sesion' %}" class="dropdown-item">Cerrar Sesión</a>
                                    </div>
                                </li>
                                <li class="nav-item mt-3"><a href="{% url 'Nosotros' %}" class="nav-link">Nosotros</a>
                                </li>
                                <li class="nav-item"><a href="{% url 'seccion_playstation' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/iconoplei.png' %}"
                                            alt="plei"></a></li>
                                <li class="nav-item"><a href="{% url 'seccion_Xbox' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/iconoxbos.png' %}"
                                            alt="XBOS"></a></li>
                                <li class="nav-item"><a href="{% url 'seccion_nintendo' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/NS_logo.png' %}"
                                            alt="nintendo"></a>
                                </li>
                                <li class="nav-item"><a href="{% url 'Seccion_Pc' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/steam-logo.png' %}"
                                            alt="Steam"></a>
                                </li>
                                <li class="nav-item mt-2"><a href="{% url 'Carrito' %}"><img class="imgiconav"
                                            src="{% static 'tienda/IMG/IconosIMG/icon_carrito.png' %}" alt="carro"></a>
                                </li>
                            </ul>
                            <form class="form-inline ml-auto mt-3" action="#">
                                <input type="text" class="form-control" placeholder="Buscar">
                                <button type="button" class="btn btn-outline-light">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="Titulo"> <span>Zone</span>Administración </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="STitulo">Modificar Juegos:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover  letra">
                        <tr>
                            <th>Foto</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Seccion</th>
                            <th>Acciones</th>
                        </tr>

                        {% for v in listadoVideojuegos %}
                        <tr>
                            <td>

                                <img src="{{ v.imagenv.url }}" alt="No foto">

                            </td>
                            <td>{{ v.id_juego }}</td>
                            <td>{{ v.nombrev }}</td>
                            <td>{{ v.descripcion }}</td>
                            <td>{{ v.precio|floatformat:-1 }}</td>
                            <td>{{ v.seccion.nombres }}</td>
                            <td>
                                <a href="{% url 'Modificar' v.id_juego %}" class="btn btn-primary">Modificar</a><br>
                                <a href="{% url 'EliminarVideoJuego' v.id_juego %}" class="mt-4 btn btn-danger">Eliminar</a>
                            </td>

                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-dark btn-block perfilb" href="{% url 'Listado' %}">Volver</a>
                </div>
            </div>


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>