<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
    
   <link type="text/css" rel="stylesheet" href="{% static 'tienda/CSS/Estilo.css' %}">
   
   <style>
        .tiendaFondo {
            background-size: 100% 100%;
            background-image: url("{% static 'tienda/IMG/fondoct.png' %}");
        }

        @media only screen and (max-width: 1300px) {
            .tiendaFondo {
                background-image: url("{% static 'tienda/IMG/FondoCel.jpg' %}");
            }
        }
    </style>
</head>

<body class="tiendaFondo">
    <div class="container">
        <div class="centrado">
            <div class="row mb-5">
                <div class="col-xl-12 row mb-4">
                    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
                        <a href="{% url 'tienda' %}" class="navbar-brand mt-3">
                            <h3>G<span>Z</span></h3>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#onenavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="onenavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item mt-3"><a href="{% url 'tienda' %}" class="nav-link">Tienda</a></li>
                                <li class="nav-item dropdown mt-3">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cuenta</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'Cuenta' %}" class="dropdown-item">Mi Perfil</a>
                                        <a href="{% url 'Colaboracion' %}" class="dropdown-item">Colaboración</a>
                                        <a href="{% url 'Administracion' %}" class="dropdown-item">Administración</a>
                                        <a href="{% url 'inicio_sesion' %}" class="dropdown-item">Cerrar Sesión</a>
                                    </div>
                                </li>
                                <li class="nav-item mt-3"><a href="{% url 'Nosotros' %}" class="nav-link">Nosotros</a>
                                </li>
                                <li class="nav-item"><a href="{% url 'seccion_playstation' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/iconoplei.png' %}"
                                            alt="plei"></a></li>
                                <li class="nav-item"><a href="{% url 'seccion_Xbox' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/iconoxbos.png' %}"
                                            alt="XBOS"></a></li>
                                <li class="nav-item"><a href="{% url 'seccion_nintendo' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/NS_logo.png' %}"
                                            alt="nintendo"></a>
                                </li>
                                <li class="nav-item"><a href="{% url 'Seccion_Pc' %}" class="nav-link"><img
                                            class="imgiconav" src="{% static 'tienda/IMG/IconosIMG/steam-logo.png' %}"
                                            alt="Steam"></a>
                                </li>
                                <li class="nav-item mt-2"><a href="{% url 'Carrito' %}"><img class="imgiconav"
                                            src="{% static 'tienda/IMG/IconosIMG/icon_carrito.png' %}" alt="carro"></a>
                                </li>
                            </ul>
                            <form class="form-inline ml-auto mt-3" action="{% url 'buscar_producto' %}">
                                <input type="text" class="form-control" name="query" placeholder="Buscar">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="Titulo"> <span>Zone</span>Administración </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="STituloN">Agregar Productos:</h2>
                </div>
            </div>
            <div class="form-row colorP">
                <form  class="col" action="{% url 'ModificarJuego'  %}" method="POST" enctype="multipart/form-data" id="formM">
                    {% csrf_token %}
                    <div class=" form-group">
                        <label for="PrecioN">
                            <p class="letra mr-2">ID del VideoJuego :</p>
                        </label>
                        <input class="centrado form-control " type="number" id="IDV" name="IDV" value="{{ datos.id_juego }}" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="NameGameV">
                            <p class="letra">Nombre Del Juego:</p>
                        </label>
                        <input class="centrado form-control " type="text" id="NameGameV" name="NameGameV" value="{{ datos.nombrev }}" required>
                        <br>
                        <span style="color: white;" id="error_nombrev1"></span>

                    </div>
                    <div class=" form-group">
                        <label for="PrecioN">
                            <p class="letra mr-2">Precio del Videojuego:</p>
                        </label>
                        <input class="centrado form-control " type="number" id="PrecioV" name="PrecioV" value="{{ datos.precio }}" required>
                        <br>
                        <span style="color: white;" id="error_preciov1"></span>
                        <span style="color: white;" id="error_preciov2"></span>
                        <span style="color: white;" id="error_preciov3"></span>
                        
                    </div>
                    <div class="form-group">
                        <label for="DescripcionN">
                            <p class="letra">Descripción:</p>
                        </label>
                        <textarea id="DescripcionV" name="DescripcionV" class="form-control centrado" cols="30" rows="10" value="{{ datos.descripcion }}" required></textarea>
                        <span style="color: white;" id="error_descripcionv1"></span>
                        <span style="color: white;" id="error_descripcionv2"></span>
                        <span style="color: white;" id="error_descripcionv3"></span>
                        
                    </div>
                    <div class="form-group">
                        <label for="FotoVN">Imagen Del Videojuego</label>
                        <input type="file" class="centrado form-control" id="FotoV" name="FotoV" value="{{ datos.imagenv }}" required>
                    </div>
                    <div class="form-group">
                        <label>Sección</label>
                       <select class="form-control centrado" name="seccionV" id="seccionV">
                            {% for s in ListadoS %}
                                {% if s.id_seccions == datos.seccion.id_seccions %}
                                    <option value="{{ s.id_seccions }}" selected>{{ s.nombres }}</option>
                                {% else %}
                                    <option value="{{ s.id_seccions }}" readonly>{{ s.nombres }}</option>
                                {% endif %}
                            {% endfor %}
                       </select>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-dark" href="{% url 'Listado' %}">Volver</a>
                        <button type="submit" class="btn btn-dark  ">Modificar</button>
                    </div>
                </form>
            </div>
            <div id="warningsHide" class="row">
                <div class="col-md-12 col-sm-12  mt-1">
                    <p class="STitulo p-3" id="warnings"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'tienda/js/modificar.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>